.stepwizard-step p {
	margin-top: 10px;
}

.stepwizard-row {
   display: flex;
}

.stepwizard {
	display: table;
	width: 100%;
	position: relative;
}

.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important;
}

.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
	z-index: 1;
}

.stepwizard-line {
	margin-top: 20px;
	top: unset;
	bottom: 0;
	position: relative;
	width: 100%;
	margin-left: unset;
	margin-right: unset;
	left: unset;
	height: 1px;
	background-color: #ccc;
	z-index: 0;
	max-width: 190px;
}

.stepwizard-step a {
	-webkit-appearance: none;
	background: white;
	border: 1px solid #ccc;
	width: 56px;
	height: 56px;
	line-height: 41px;
	border-radius: 50%;
}

.stepwizard-step a.btn-primary {
	background: #1976D2;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle.active {
	background: #1976D2 !important;
	color: #FFF !important;
}

.disable {
	background: #f5f5f5 !important;
	pointer-events: none;
	color: #cecece;
	border: 1px solid #fff !important;
}

.has-error label {
	color: #a94442;
}

.has-error input, .has-error select, .has-error textarea {
	color: #a94442;
	border-color: #a94442;
}

.loading{
   animation:blinkingText ease 2.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }     
    50%{   color: #transparent; }
    99%{    color:transparent;  }
    100%{ color:#000; }
}

button {
	margin-bottom: 5px!important;
}

@media (max-width: 400px) {
	
	button {
		width: 100%;
	}

}

.nav.nav-tabs, .table th {
	font-size: 11px;	
}
 
.nav-tabs > li > a:hover,.nav-tabs.open > li > a:hover,.nav-tabs > li.active > a:hover {
	background: #DDD;
    color: #333;
}
.nav-tabs > li.active > a, .nav-tabs > li.open > a {
	background: #CCC!important;
    color: #000!important;
}

.w-auto {
	width: auto!important;
}

 .flex-center {
 	display: flex;
 	align-items: center;
 	flex-wrap: wrap;
 	position: relative;
 }
 
.space-around {
	justify-content: space-around;
 }
 
 .m-0 {
 	margin: 0;
 }
.mb-0 {
 	margin-bottom: 0;
 }
 
 .w30 {
 	width: 30px;
 }
 .w80 {
 	width: 80px;
 }
 
.check {
 	width: 25%;
 	padding-left: 15px;
    padding-right: 15px;
 }
.check label { 
 	display: flex;
 	align-items: center;
 }
.space {
 	margin-left: 5px;
 }
.space-2 {
 	margin-left: 10px;
 }
.space-3 {
 	margin-left: 15px;
 }

.number {
	width: 75px;
}
 
.text {
 	width: 50px;
 }
 .w50p {
 	width: 50%;
 }
 .w150 {
 	width: 150px;
 }
 
 input[type="checkbox"] {
 	width: 13px;
 }
 
 @media (max-width: 767px) {
 	.vertical-column {
 		flex-direction: column;
 	}
 }
 
 
.fc-3 {
 	min-width: 262px!important;
    width: auto!important;
}
 
 .mt-1 {
 	margin-top: 5px;
 }
 .mt-2 {
 	margin-top: 10px;
 }
 .mt-3 {
 	margin-top: 15px;
 }
 .mt-4 {
 	margin-top: 20px;
 }
 .mt-5 {
 	margin-top: 25px;
 }