.stepwizard-step p {
    margin-top: 10px;
    }
    .stepwizard-row {
        display: table-row;
    }
    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }
    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    .stepwizard-row:before {
        top: 25px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 50%;
        margin-left:auto;
        margin-right:auto;
        left:25%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }
    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    .stepwizard-line{
        top: 25px;
        bottom: 0;
        position: absolute;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        left: 25%;
        height: 1px;
        background-color: #ccc;
        z-index: 0;
    }
    .stepwizard-step a{
    	-webkit-appearance: none;
    	background: white;
    	border: 1px solid #ccc;
    	width: 56px;
        height: 56px;
        line-height: 41px;
        border-radius:50%;

    }
    .stepwizard-step a.btn-primary{
    	background: #1976D2;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    .btn-circle.active{
    	background: #1976D2!important;
        color: #FFF!important;
    }

    .disable{
        background: #f5f5f5!important;
        pointer-events: none;
        color: #cecece;
        border: 1px solid #fff!important;
    }

    .has-error label{
    	color: #a94442;
    }

    .has-error input,.has-error select,.has-error textarea{
    	color: #a94442;
    	border-color: #a94442;
    }

    .setup-content form label {
    	text-align:right;
    }

	.seismo{
	   display:none;
       background: #f1f1f1;
       padding-top: 5px;
       padding-bottom: 10px;
	}

  #ubicacion{
    position: absolute;
    z-index: 1;
    width: 50%;
    margin: auto;
    right: 0;
    left: 0;
    margin-top: 14px;
  }
