#tableEntidadesSaludModal {
	z-index: 2000 !important;
}

.datos-danio {
	border: 1px solid #d4d4d4;
	margin-bottom: 10px;
}

.registro-danio {
	border: 1px solid #dcdcdc;
	padding: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.danios {
	text-align: center;
	margin: auto;
}

.danios .elemento {
	padding: 2px;
	margin: 5px auto;
	vertical-align: top;
}

.danios .elemento p {
	padding: 0;
	margin: 0;
	font-size: 1.2em;
}

.danios .elemento i {
	font-size: 1.5em;
}

.danios .elemento span {
	font-size: 11px;
}

.lesionados, .afectadas {
	color: orange;
	border: 2px solid orange;
}

.lesionados:hover, .afectadas:hover {
	background: rgba(255, 165, 0, 0.1);
}

.fallecidos, .inhabilitadas {
	color: red;
	border: 2px solid red;
}

.fallecidos:hover, .inhabilitadas:hover {
	background: rgba(255, 0, 0, 0.1);
}

.desaparecidos, .colpasadas {
	color: #666;
	border: 2px solid #666;
}

.desaparecidos:hover, .colpasadas:hover {
	background: rgba(102, 102, 102, 0.1);
}

.p-afectadas, .p-damnificadas {
	color: #FF715B;
	border: 2px solid #FF715B;
}

.p-afectadas:hover, .p-damnificadas:hover {
	background: rgba(255, 113, 91, 0.1);
}

.danios .datos {
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.danios .datos span {
	font-weight: bold;
}

.danios .datos i {
	font-size: 3.2em !important;
	cursor: pointer;
}

#r-lesionados .table-sm td, #r-lesionados .table-sm th {
	font-size: 12px;
}

i {
	cursor: pointer;
}

/***********************************************/
.alinear {
	padding-top: 8px;
	padding-bottom: 8px;
}

.datos-danio {
	position: relative;
}

.datos-danio .danios {
	margin-bottom: 10px;
}

.datos-danio .historial {
	position: absolute;
	bottom: 0;
	background: #EEE;
	font-weight: bold;
	left: 0;
	padding: 7px 10px;
}

.one-line {
	display: flex;
	margin-bottom: 8px !important;
}

.one-line label {
	padding-top: 5px;
	width: 80%;
}

input[type=text].full-with {
	width: 100% !important;
	height: 40px !important;
}

.one-line label.shortLabel {
	width: 10%;
}

.one-line label.middleLabel {
	width: 35%;
}

/***********************************************/
@media ( min-width : 992px) {
	.col-lg-1_5 {
		width: 12.4%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.modal-xl {
	width: 1200px !important;
}

@media ( max-width :1220px) {
	.modal-xl {
		width: 98% !important;
	}
}

.input-modal-xl {
	font-size: 12px;
}

.input-modal-xl input[type=text] {
	width: 60px;
	text-align: center;
	height: 24px;
}

.input-modal-xl input[type=text].middleSize {
	width: 45%;
}

.input-height input[type=text] {
	height: 24px;
}

@media ( min-width : 768px) {
	.col-md-2-5 {
		width: 20%;
		float: left;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.tableEntidadesSalud tbody tr{
    cursor:pointer;
  }
  
.tableEntidadesSalud tbody tr:hover{
    background-color:#d6d6d6;
  }

@media ( max-width :600px) {
	.txt-dark {
		text-align: center;
	}
}

.table-responsive {
	overflow-x: unset;
}