#map{
	width:100%;
	height:380px;
}

#tbEventosSeleccionados, #tbLista {
	font-size: 11px;
}
.tbLista i{
	   padding:0 4px;
	   font-size:17px;
	}


#tbLista tbody tr:hover {
	cursor: pointer;
}

.seleccionado{
 	background:#d0f9ff!important;
  }

   .botones-evento{
  	 display: flex;
     list-style: none;
     padding-left:5px;
     font-size: 10px;
   }

   .botones-evento li {
   		display:inline-block;
   		margin:3px;
   		padding:5px;
   		width:84px;
   		height:100px;
   		color:#ccc;
   		border:2px solid #ccc;
   		opacity:0.4;
   		filter:alpha(opacity=40);
     	pointer-events:none;
     	position: relative;
   	}

   	.botones-evento li label {
   	    display:block!important;
   	}
   	.botones-evento span{
   	    display: block;
        text-align: center;
     }
   	.botones-evento li i{
   	    display:block!important;
   	    text-align:center;
   	    margin:auto;
   	    font-size:38px;
   		pointer-events:none;
   		position: absolute;
	    top: 12px;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    width: 38px;
	    height: 38px;
   	}

   	.botones-evento li.agregar i,
   	.botones-evento li.extornar i,
   	.botones-evento li.editar i,
   	.botones-evento li.cerrar i,
   	.botones-evento li.anular i,
   	.botones-evento li.ficha i,
   	.botones-evento li.exportar i,
   	.botones-evento li.oferta-movil i,
   	.botones-evento li.agregar span,
   	.botones-evento li.extornar span,
   	.botones-evento li.editar span,
   	.botones-evento li.cerrar span,
   	.botones-evento li.anular span,
   	.botones-evento li.exportar span,
   	.botones-evento li.ficha span,
   	.botones-evento li.oferta-movil span,
   	.botones-evento li.grandes-eventos span{
   		cursor:pointer!important;
   		pointer-events:all!important;
   	}

   	.botones-evento li.exportar a{
   		color:#c2359d!important;
   	}

   	.botones-evento li.agregar{
   		color:#17a2b8;
   		border:2px solid #17a2b8;
   		opacity:1!important;
   		filter:alpha(opacity=100)!important;
   		pointer-events:all!important;
        cursor:pointer;
   	}

   	.botones-evento li.extornar{
   		color:#1976D2;
   		border:2px solid #1976D2;
   		opacity:1!important;
   		filter:alpha(opacity=100)!important;
   		pointer-events:all!important;
        cursor:pointer;
   	}

   	.botones-evento li.editar{
   		color:#28a745;
   		border:2px solid #28a745;
   		opacity:1!important;
   		filter:alpha(opacity=100)!important;
   		pointer-events:all!important;
        cursor:pointer;
   	}

   	.botones-evento li.cerrar{
   		color:#ffc107;
   		border:2px solid #ffc107;
   		opacity:1!important;
   		filter:alpha(opacity=100)!important;
   		pointer-events:all!important;
        cursor:pointer;
   	}

   	.botones-evento li.exportar{
   		color:#c2359d;
   		border:2px solid #c2359d;
   		opacity:1!important;
   		filter:alpha(opacity=100)!important;
   		pointer-events:all!important;
        cursor:pointer;
   	}

   	.botones-evento li.anular{
   		color:#dc3545;
   		border:2px solid #dc3545;
   		opacity:1!important;
   		filter:alpha(opacity=100)!important;
   		pointer-events:all!important;
        cursor:pointer;
   	}
   	
   	.botones-evento li.ficha{
   		color:#0257f8;
   		border:2px solid #0257f8;
   		opacity:1!important;
   		filter:alpha(opacity=100)!important;
   		pointer-events:all!important;
        cursor:pointer;
   	}

   	.botones-evento li.oferta-movil{
   		color:#665002;
   		border:2px solid #665002;
   		opacity:1!important;
   		filter:alpha(opacity=100)!important;
   		pointer-events:all!important;
        cursor:pointer;
   	}
   	.botones-evento li.grandes-eventos{
   		color: rgb(17, 85, 204);
   		border:2px solid rgb(17, 85, 204);
   		opacity:1!important;
   		filter:alpha(opacity=100)!important;
   		pointer-events:all!important;
        cursor:pointer;
   	}	   	
   	.tbLista tr{
   	    cursor:pointer;
   	}
   	.selected {
    	background-color: #d6d6d6 !important;
    }

   	i.disabled{
   	    color: #d8d8d8!important;
        cursor: not-allowed!important;
   	}

		.tableEtiqueta{
			font-size: 10px;
		}

		.odd,.even{
			font-size:12px;
		}

		#aInformeInicial{
			margin-right:10px;
		}


#ofertaMovilModal .table-wrapper{
	max-height: 250px;
	overflow: auto;
}

#formRegistrarOfertaMovil .delete i{
	cursor: pointer;
}

#formMedicamentos input, #formEquipos input, #formRecursos input, #formMedicamentos select, #formEquipos select, #formRecursos select {
	text-transform: uppercase;
}
#tableMedicamentos .fa-times, #tableEquipos .fa-times, #tableRecursos .fa-times {
	cursor: pointer;
}

.table-max-height-overflow {
	max-height: 280px;
    overflow: auto;
}

#tbEventosSeleccionados .fa-trash {
	color: red;
	cursor: pointer;
}

#registroModal {
	overflow-x: hidden;
    overflow-y: auto;
}


@media all and (max-width:500px) {

    .tableEtiqueta{
        width:100%;
    }

    .tableEtiqueta td,.tableEtiqueta tr{
        display:block;
        width:100%;
    }

}

	@media screen and (max-width: 767px) {
		.botones-evento {
			flex-flow: wrap;
			justify-content: center;
		}
}