.infoWindow{
	max-width: 260px;
}

.dataTable_acciones {
	display: flex;
	justify-content: space-around;
}

.infoWindow .div_element,.dataTable_acciones .div_element {
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.dataTable_acciones .div_element {
	border-left: 1px solid #efefef;
}
.dataTable_acciones .div_element:first-child {
	border-left: 0;
}

.infoWindow .div_element p,.dataTable_acciones .div_element p {
	display: flex;
	text-align: center;
	margin: 0;
	padding: 5px 0;
}
.dataTable_acciones .div_element p {
	flex-direction: column;	
}

.infoWindow .div_element p img{
	margin-right: 5px;
}
.dataTable_acciones .div_element p img {
	margin: auto;
}

.infoWindow .img_icon,.dataTable_acciones .div_element p img {
	height: 30px;
}
.infoWindow .div_element > span,.dataTable_acciones .div_element > span {
	text-align: center;
	font-size: 15px;
	padding: 5px 0;
}

.infoWindow a{
	width: 100%;
	color: #337ab7!important;
    text-decoration: underline;
}

table.dataTable > tbody .details-control{
	text-align: center;
}
table.dataTable > thead tr {
	background-color: #8f8f8f;
	
}
table.dataTable > thead tr th {
	color: #FFF;
}
table.table-bordered.dataTable tbody td {
	font-size: 11px;
}
table.dataTable > tbody .details-control:before {
    background-color: #0099CC;
    border-radius: 20px;
    border: 0;
    line-height: 15px;
    box-shadow: none;
    left: 6px;
    top: auto;
    height: 17px;
    width: 17px;
    display: inline-block;
    text-align: center;
    content: '↓';
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
}
table.dataTable > tbody .details-control:hover::before {
	background-color: #0077AA;
}