#tabla label {
	margin-top: 8px;
}

.departamento label {
	margin-bottom: 0 !important;
}

.datepicker.datepicker-dropdown.dropdown-menu {
	z-index: 10000 !important;
}

.datepicker.datepicker-dropdown.dropdown-menu .day {
	cursor: pointer;
}

.modal-xl {
	width: 1200px !important;
}

@media ( max-width :1220px) {
	.modal-xl {
		width: 98% !important;
	}
}

.table thead th {
	text-align: center;
}

.dt-center {
	text-align: center;
}

#tbEventos_wrapper, #tbVulnerable_wrapper, #tbEESS_wrapper,
	#tbRecursos_wrapper, #tbCIE10_wrapper,#tbRegion_wrapper {
	display: none;
}

#tbVulnerable_info, #tbVulnerable_paginate, #tbEESS_info,
	#tbEESS_paginate, #tbRecursos_info, #tbRecursos_paginate {
	display: none;
}

#tbVulnerable_filter>label, #tbEESS_filter>label, #tbRecursosfilter>label
	{
	visibility: hidden;
}
