.glyphicon.glyphicon-chevron-up, .glyphicon.glyphicon-chevron-down{
	color: #337ab7;
}

#atencionModal .form-control{
	height: 34px;
	padding: 4px 11px;
}
#atencionModal .btn.btn-info.detalle-size{
	padding: 4px 15px 5px;
}

.tableEnfermedades tbody tr{
	cursor: pointer;
}

.pt-30{
	padding-top: 30px!important;
}
.mb-5{
	margin-bottom: 5px;
}

.regresar{
	cursor: pointer;
}