#tabla label {
	margin-top: 8px;
}

.departamento label {
	margin-bottom: 0 !important;
}

.departamentosStatus{
	display:none;
}

.datepicker.datepicker-dropdown.dropdown-menu {
	z-index: 10000 !important;
}

.datepicker.datepicker-dropdown.dropdown-menu .day {
	cursor: pointer;
}

.tableEtiqueta{
	font-size: 10px;
}

@media all and (max-width:500px){
	.tableEtiqueta{
			width:100%;
	}

	.tableEtiqueta td,.tableEtiqueta tr{
			display:block;
			width:100%;
	}

}

td.details-control::after {
    content: "+";
    padding: 5px 10px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #ffffff;
    background-color: #00A4FF;
    color: white;
    cursor: pointer;
}
.detailc hr {
	width: 100%;
}
td.details-control ul.acciones {
	list-style: circle;
    padding-left: 30px;;
}
tr.shown td.details-control::after {
	content:"-";
    padding: 5px 12px;
    background-color: #f8a5a0;
}

.exportar {
	cursor: pointer;
}