.ocultar div {
	margin: 0;
}

.ocultar label,.ocultar small  {
	display: none;
}

.ocultar select {
	visibility: hidden;
	padding: 0;
	height: 1px;
}

.alert {
	margin-top: 2px;
	margin-bottom: 0px;
}

.container-fluid {
	background: #fff;
	margin: auto 8px;
	width: auto;
	padding-bottom: 40px;
}

.btn-secondary {
	background-color: transparent;
	border-color: transparent;
}

.table.table-bordered {
	margin-top: 20px;
}

.table th {
	text-align: center;
	font-size: 14px;
}

table.dataTable {
	border-collapse: collapse !important;
}

.actionDisable i, .actionEnable i, .actionEdit i, .actionDelete i {
	color: #FFF;
}

.error {
	font-size: 11px;
	margin: 0;
}

table tr td .error {
	text-align: center;
	width: 100%;
}

input[class^='mes'], input[class*='mes'] {
	text-align: center;
}

.nav-tabs > li.active > a{
	background:#b8b8b8;
}
.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	background:#CACACA;
}