.alert {
	margin-top: 2px;
	margin-bottom: 0px;
}

.container-fluid {
	background: #fff;
	margin: auto 8px;
	width: auto;
	padding-bottom: 40px;
}

.btn-secondary {
	background-color: transparent;
	border-color: transparent;
}

.table.table-bordered {
	margin-top: 20px;
}

.table th {
	text-align: center;
	font-size: 14px;
}

table.dataTable {
	border-collapse: collapse !important;
}

.actionDisable i, .actionEnable i, .actionEdit i, .actionDelete i {
	color: #FFF;
}

.error {
	font-size: 11px;
	margin: 0;
}

table tr td .error {
	text-align: center;
	width: 100%;
}

.tbIndicador tbody tr:hover,.selected{
	background-color:#d6d6d6!important;
}
.tbIndicador tbody tr td{
	cursor:pointer;
	
}