.label-mes {
	padding: 8px 15px;
}

.field-mes {
	padding-left: 5px;
	padding-right: 5px;
}

.field-mes input {
	padding: 6px 0;
}

.alert {
	margin-top: 2px;
	margin-bottom: 0px;
}

.container-fluid {
	/* background: #fff; */
	/* margin: auto 8px; */
	width: auto;
	padding-bottom: 40px;
}

 .selectTable{
	height:40px;
	float:right;
 }

 div.dataTables_wrapper div.dataTables_filter {
	text-align: left;
	margin-top: 15px;
 }

 .btn-secondary {
	color: #fff;
	background-color: #099fb0;
	border-color: #099fb0;
	background: #099fb0;
 }

 .btn-secondary:hover {
	color: #fff;
	background-color: #315f86;
	border-color: #545b62;
 }


.actionDisable i, .actionEnable i, .actionEdit i, .actionDelete i {
	color: #FFF;
}

.error {
	font-size: 11px;
	margin: 0;
}

table tr td .error {
	text-align: center;
	width: 100%;
}

input[class^='mes'], input[class*='mes'] {
	text-align: center;
}

#especificaDetalleModal {
	z-index: 10000 !important;
}

.tb-prespuesto {
	font-size: 10px;
	text-align: center;
	display: none;
}

.tb-prespuesto th, .tb-prespuesto td {
	padding: 3px;
}

.drop-gasto {
	cursor: pointer;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    width: 100%;
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 30px;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label i {
    font-size: 12px;
    vertical-align: middle;
    color: #FFF;    
    right: 15px;
    top: 50%;
    position: absolute;
    margin-top: -6px;
}

.inputfile-1 + label {
    color: #FFF;
    background-color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #0f9eed;
}

.btn.btn-default i.fa-file-code-o{
	margin-top: 12px;
}

.table tbody tr{
	font-size: 12px;
}

.semaforo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: auto;
}