.alert {
	margin-top: 2px;
	margin-bottom: 0px;
}

.container-fluid {
	background: #fff;
	margin: auto 8px;
	width: auto;
	padding-bottom: 40px;
}

.btn-secondary {
	background-color: transparent;
	border-color: transparent;
}

.dt-center {
	text-align: center;
}

.table.table-bordered {
	margin-top: 20px;
}

.table th {
	text-align: center;
	font-size: 14px;
}

table.dataTable {
	border-collapse: collapse !important;
}