.content {
  background: #eff3f6;
  margin-top: 4%;
  padding: 3% 5%;
}

label {
  font-size: 14px !important;
}

.card {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: white;
  cursor: pointer;
}

.card__image-center{
  text-align: center;
}

.card__image-center h4{
  padding-bottom: 20px;
}

.card__button:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.5); 
}

.card__button {
  margin: 0 70px;
}

.card-icon{
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
}

.text-white{
  color: white;
}

body{
  background: #eff3f6;
  margin: 0;
  font-size: 15px;
}

.modal-fullscreen {
  padding: 0 !important;
}
.modal-fullscreen .modal-dialog {
  max-width: fit-content;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-fullscreen .modal-content {
  height: auto;
  min-height: 100%;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
}
.modal-fullscreen .modal-body {
  padding: 2% 8%;
}
.modal-fullscreen .modal-header {
  background-color: #0db5c8;
}
.modal-fullscreen .close {
  color: white;
  opacity: inherit;
}
.modal-fullscreen .modal-header h4{
  color: white;
  font-weight: 700;
}
.modal-fullscreen .modal-title {
  padding-left: 7%;
}

.modal-backdrop ~ .modal-backdrop
{
    z-index : 1051 ;
}
.modal-backdrop ~ .modal-backdrop ~ .modal-backdrop
{
    z-index : 1052 ;
}
.modal-backdrop ~ .modal-backdrop ~ .modal-backdrop ~ .modal-backdrop
{
    z-index : 1053 ;
}


strong {
  font-size: 24px !important;
}

.paises {
	position: relative;
}
#paises {
	top: 60px;
	left: 0;
	display: none;
	background-color: white;
	border: 1px solid #cccccc;
	padding: 5px;
	min-width: 200px;
}
#paises ul {
	padding: 0;
	list-style: none;
	margin: 0;
}
#paises ul li {
	padding: 10px 15px;
	font-size: 12px;
	text-align: left;
	cursor: pointer;
}
#paises ul li:hover {
	background-color: #fafafa;
}